<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>カレンダー</title>
	<link rel="stylesheet"
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
	<link rel="stylesheet"
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
</head>
<body>
	<div class="container">
		<h2>スケジュール一覧</h2>
		<hr/>
		<div class="row">
			<div class="col-sm-12">
				<h3>
					<span th:text="${year} + '年 ' + ${month} + '月'"> YYYY年 MM月 </span>
					<button class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-menu-left"></span>
					</button>
					<button class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-menu-right"></span>
					</button>
				</h3>
			</div>
			<!-- ここからカレンダーの作成 -->
			<div class="col-md-12">
					<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr class="info">
								<th>月</th>
								<th>火</th>
								<th>水</th>
								<th>木</th>
								<th>金</th>
								<th>土</th>
								<th>日</th>
							</tr>
						</thead>
						<tbody>
							<!-- 1週目の日付欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${listStat.index &lt; 7}"> <!-- 1週目はリストのindex7番目以下の部分に入っている -->
									<div th:if="${list != 0}">
										<span th:text="${list}"></span>
									</div>
								</td>
							</tr>
							<!-- 1週目の予定欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${listStat.index &lt; 7}">
									<div th:each="schedule : ${schedulesOfTheMonth}">
										<span th:if="${list == schedule.day}"
											  th:text="${schedule.name} + ' : ' + ${schedule.content}"></span>
									</div>
								</td>
							</tr>
							<!-- 2週目の日付欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${7 &lt;= listStat.index &amp;&amp; listStat.index &lt; 14}">
									<span th:text="${list}"></span>
								</td>
							</tr>
							<!-- 2週目の予定欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${7 &lt;= listStat.index &amp;&amp; listStat.index &lt; 14}">
									<div th:each="schedule : ${schedulesOfTheMonth}">
										<span th:if="${list == schedule.day}"
											  th:text="${schedule.name} + ' : ' + ${schedule.content}"></span>
									</div>
								</td>
							</tr>
							<!-- 3週目の日付欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${14 &lt;= listStat.index &amp;&amp; listStat.index &lt; 21}">
									<span th:text="${list}"></span>
								</td>
							</tr>
							<!-- 3週目の予定欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${14 &lt;= listStat.index &amp;&amp; listStat.index &lt; 21}">
									<div th:each="schedule : ${schedulesOfTheMonth}">
										<span th:if="${list == schedule.day}"
											  th:text="${schedule.name} + ' : ' + ${schedule.content}"></span>
									</div>
								</td>
							</tr>
							<!-- 4週目の日付欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${21 &lt;= listStat.index &amp;&amp; listStat.index &lt; 28}">
									<span th:text="${list}"></span>
								</td>
							</tr>
							<!-- 4週目の予定欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${21 &lt;= listStat.index &amp;&amp; listStat.index &lt; 28}">
									<div th:each="schedule : ${schedulesOfTheMonth}">
										<span th:if="${list == schedule.day}"
											  th:text="${schedule.name} + ' : ' + ${schedule.content}"></span>
									</div>
								</td>
							</tr>
							<!-- 5週目の日付欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${28 &lt;= listStat.index &amp;&amp; listStat.index &lt; 35}">
									<div th:if="${list != 0}">
										<span th:text="${list}"></span>
									</div>
								</td>
							</tr>
							<!-- 5週目の予定欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${28 &lt;= listStat.index &amp;&amp; listStat.index &lt; 35}">
									<div th:each="schedule : ${schedulesOfTheMonth}">
										<span th:if="${list == schedule.day}"
											  th:text="${schedule.name} + ' : ' + ${schedule.content}"></span>
									</div>
								</td>
							</tr>
							<!-- 6週目の日付欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${35 &lt;= listStat.index &amp;&amp; listStat.index &lt; 42}">
									<div th:if="${list != 0}">
										<span th:text="${list}"></span>
									</div>
								</td>
							</tr>
							<!-- 6週目の予定欄作成 -->
							<tr>
								<td th:each="list : ${dateList}"
									th:if="${35 &lt;= listStat.index &amp;&amp; listStat.index &lt; 42}">
									<div th:each="schedule : ${schedulesOfTheMonth}">
										<span th:if="${list == schedule.day}"
											  th:text="${schedule.name} + ' : ' + ${schedule.content}"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
		th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.7/bootstrap.min.js}"></script>

</body>
</html>
