@charset "UTF-8";

.error-input {
	border-color: #b94a48;
	margin-left: 5px;
}

.error-messages {
	color: b94a48;
}

/* カラムの高さを合わせるために追加 */
.row-eq-height {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
}
